.filtroForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  border-radius: 10px;
  background-color:  rgb(232, 232, 233);
  margin-left: 5%;
  margin-right: 5%;
}

.filtroForm label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1%; 
}

.filtroForm input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filtroForm button {
  background-color: #1d4ed8;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.filtroForm button:hover {
  background-color: #1d4fd8cb;
}
