.card {
  background-color: rgb(202, 240, 152);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem; /* rounded-2xl */
  padding: 1.5rem; /* p-6 */
  border: 1px solid #e5e7eb; /* border-gray-200 */
  max-width: 28rem; /* max-w-md */
  width: 100%;
}

.titulo {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  margin-bottom: 0.5rem; /* mb-2 */
  color: #1f2937; /* text-gray-800 */
}

.detalles {
  color: #000000; /* text-gray-600 */
  margin-bottom: 1rem; /* mb-4 */
}

.lineaDetalle {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.label {
  font-weight: 500; /* font-medium */
}

.boton {
  background-color: #2563eb; /* bg-blue-600 */
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 1px;
  width: 100%;
  transition: background-color 0.2s ease;
}

.boton:hover {
  background-color: #1d4ed8; /* hover:bg-blue-700 */
}
