.container{
    min-height: 100vh;
    background-color: var(--background-color);
   
  }
  
  .main {
    margin: 200px;
    max-width: 600px;
    margin: var(--padding-large) auto;
    padding: var(--padding-medium);
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .input{
    padding: var(--padding-small);
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    transition: border-color 0.3s ease;
}

.amenitiesGrid {
    display:grid; 
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
   
}

.amenityCard {
    border: 1px solid #ccc;
    padding: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    background-color: #f9f9f9;
}

.amenityCard:hover {
    background-color: #eaeaea;
}

.selected {
    border: 2px solid #007bff;
    background-color: #d0e7ff;
}

.newAmenityForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
