.containedor {
    min-height: 100vh;
    background-color: var(--background-color);
   
  }
  
  .main {
    margin: 200px;
    max-width: 70%;
    margin: var(--padding-large) auto;
    padding: var(--padding-medium);
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .cardGrid{
    margin-top: 8%;
  }

 
 