
.header{
    width: 100%; 
    padding: 1%;
    background-color: #305763c4;
    margin-top: 0;
    text-align: center; 
    justify-content: space-between; /* Espacio entre el título y el botón */
    align-items: center; /* Centra verticalmente */
  }
  
.title{
    font-size:120%; 
    height: 40%;
   margin: 0;
   padding: 10px;
   color: white; /* Para que el texto sea visible en el fondo azul */
  }
  
.MenuBarContent {
    width: 80%;        /* El contenido del header ocupa solo el 80% */
    margin: 0 auto;    /* Centra el contenido horizontalmente */
    display: flex;
    justify-content: space-between;
  }
  
  .navlist{

    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex;
    gap: 10px;
  }