.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  width: 100%; 
  padding: 1%;
  background-color: #305763c4;
  margin-top: 0;
  text-align: center; 
  justify-content: space-between; /* Espacio entre el título y el botón */
  align-items: center; /* Centra verticalmente */
}

.title{
  font-size:120%; 
  height: 40%;
 margin: 0;
 padding: 10px;
 color: white; /* Para que el texto sea visible en el fondo azul */
}

.ButonGeneric{
  margin: 2%;
  padding: 2px 25px; /* Más grande */
  border: none;
  border-radius: 15px; /* Más ovalado */
  cursor:pointer; 
  background-color: #ffffff; /* Blanco para contraste */
  color: #305763; /* Color del texto similar al fondo del header */
  font-size: 16px; /* Texto más grande */
  font-weight: bold; /* Texto más destacado */
}

.full-background {
  background-color: #ffffff;
  min-height: 100vh;
}

.MenuBarContent {
  width: 80%;        /* El contenido del header ocupa solo el 80% */
  margin: 0 auto;    /* Centra el contenido horizontalmente */
  display: flex;
  justify-content: space-between;
}

.containerP{
  max-width: 800px;  /* Controla el ancho máximo del contenido */
  margin: 20px auto; /* Centra el contenido */
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-list{

  margin: 0;
  padding: 0;
  list-style: none; 
  display: flex;
  gap: 10px;
}

.registerNewUser{
  display:inline-block; 
}