.ButonGeneric{
    margin: 2%;
    padding: 2px 25px; /* Más grande */
    border: none;
    border-radius: 15px; /* Más ovalado */
    cursor:pointer; 
    background-color: #ffffff; /* Blanco para contraste */
    color: #305763; /* Color del texto similar al fondo del header */
    font-size: 16px; /* Texto más grande */
    font-weight: bold; /* Texto más destacado */
}