.ButonGeneric {
    padding: 2px 24px;
    border: none;
    margin: 1%;
    border-radius: 12px;
    background-color: #3f6be0; /* Azul fuerte */
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
     font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ButonGeneric:hover {
    background-color: #345bcc; /* Un azul un poco más oscuro al pasar el mouse */
    transform: translateY(-1px); /* Efecto de elevación leve */
}

.ButonGeneric:active {
    background-color: #2a4bb2; /* Más oscuro al hacer clic */
    transform: scale(0.98); /* Ligero encogimiento */
}
