.cardContainer {
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: rgba(233, 232, 232, 0.726);
  transition: transform 0.2s;
  display: flex;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.cardContainer:hover {
  transform: translateY(-10px);
}

.imagenContainer {
  width: 40%;
  margin: 3%; 
  align-items: start;
  border-radius: 15px;
  object-fit: cover;
  background-color: #ad1313;
}

.cardContent {
  width: 60%;
  margin-top: 5%;
}

.hotelName {
  font-size: 20px;
  color: #000000;  /*#0984bd;*/
  margin: 0 0 8px 0;
}

.descripcion {
  margin-top: 10%;
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.listaAmenities {
  margin-top: 2%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 5%;
}

.amenity {
  background-color: #eee;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}